.container {
  height: 500px;
  border: 2px solid lightgrey;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-around;
}

.item {
  width: 220px;
  background-color: lightblue;
  display: flex;
  margin: 5px;
}

p {
  margin: auto;
}
